DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:3000/login/discord/callback

TURSO_CONNECTION_URL=libsql://
TURSO_AUTH_TOKEN=

TRIGGER_API_KEY=
TRIGGER_API_URL=http://localhost:3030
NEXT_PUBLIC_APP_URL=http://localhost:3000

TRADE_HISTORY_DB=file:trade.db
DEALS_WEBHOOK_URL=
ALERTS_WEBHOOK_URL=
TRADES_WEBHOOK_URL=
TRADES_ROLE_ID=