DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:3000/login/discord/callback

DATABASE_URL=postgresql://love:password@localhost:5432/love

NEXT_PUBLIC_APP_URL=http://localhost:3000

TRADE_HISTORY_DB=file:trade.db
DEALS_WEBHOOK_URL=
ALERTS_WEBHOOK_URL=
TRADES_WEBHOOK_URL=
VALUE_WEBHOOK_URL=
VALUE_ROLE_ID=

WEBSITE_USER_AGENT=
TRADE_USER_AGENT=